/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');*/
/*@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');*/
@font-face {
font-family: "Existence-Light";
src: url("../fonts/Existence-Light.ttf");
}
@font-face {
font-family: "Open-Sans";
src: url("../fonts/opensans.woff2");
}
@font-face {
font-family: "Ubuntu-B";
src: url("../fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf");
}
@font-face {
font-family: "Ubuntu-L";
src: url("../fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf");
}
body{
  /*font-family: Ubuntu-L;*/
  padding-top: 70px;   /*linea agregada para usar en el menu provisorio*/
  padding-bottom: 30px;
  padding-right: 240px;
  color: #fff; /*colo de texto de todo el documento*/
  background: #293949;
  font-family: 'Open-Sans',sans-serif;
  /*padding: 0;*/
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.sidebar-toggle {
  margin-left: -200px;
}
.sidebar {
  width: 200px;
  padding-right: 10px;
  height: 100%;
  background: #293949;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}

h1{
  font-family: Existence-Light;
}


h3{
  font-family: Ubuntu-B;
}


#menu {
	margin-top: 20px;
	background-color: #23313f;
}
.theadbg{
	background-color: #23313f;
}
.pie {
	background-color: #cfd1d3;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	color: white;
}
#esteboton{
  color: #293949;
}
#esteboton:hover{
  background: #23313f;
  color: #fff;
}

.panel-default > .panel-heading {
  background-color: #E0E6F8;
}
.navbar-default { 
  background-color: #23313f;
  border: 0px;
}
.navbar-brand{
  color: #aeb2b7;
}
