@font-face {
font-family: "Existence-Light";
src: url("../fonts/Existence-Light.ttf");
}

h1{
	font-family: Existence-Light;
}

@font-face {
font-family: "Ubuntu-B";
src: url("../fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf");
}

h3{
	font-family: Ubuntu-B;
}

@font-face {
font-family: "Ubuntu-L";
src: url("../fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf");
}

body{
	font-family: Ubuntu-L;
	padding-top: 70px;   /*linea agregada para usar en el menu provisorio*/

}

#menu {
	margin-top: 20px;
}
.pie {
	background-color: #cfd1d3;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	color: white;
}
