{% extends 'base.html' %}
{% block content %}

<h1>{{ title }}</h1>
					
				<table class="table table-hover table-condensed" align="center">
					<thead class="theadbg">	
				<thead class="theadbg">
					<tr>
						<th>Empresa</th>
						<th>Modificar</th>
						<th>Eliminar</th>
						<th>Libro Ventas</th>
						<th>Libro Compras</th>
					</tr>
				</thead>
				<tbody>
				{% for key, value in object_dict_libro.items %}
				
				<tr>
					<td><a href="{% url 'iva:v_empresa' key.id %}">{{ key.nombre }}</a></td>
					<td><a href="{% url 'iva:m_empresa' key.id %}"><span class="glyphicon glyphicon-pencil"></span></td>
					<td><a href="{% url 'iva:d_empresa' key.id %}"><span class="glyphicon glyphicon-remove"></span></td>
					<td>
					{%if value.0.tipo_libro == 'V' %}
						<a href="{% url 'iva:v_libro' value.0.id %}">Ver Libro Ventas</a>
					{% else %}
					<a href="{% url 'iva:a_libro' k=key.id v='V' %}">Crear Libro Ventas  <span class="glyphicon glyphicon-plus"></span></a>
					{% endif %}
					</td>
					<td>
					{%if value.1.tipo_libro == 'C' %}
						<a href="{% url 'iva:v_libro' value.1.id %}">Ver Libro Compras</a>
					{% else %}
					<a href="{% url 'iva:a_libro' k=key.id v='C' %}">Crear Libro Compras  <span class="glyphicon glyphicon-plus"></span></a>
					{% endif %}
					</td>
					
					
				</tr>
				{% endfor %}
				</tbody>
			</table>
			<div align="left">
						<a class="btn btn-default btn-md" role="button" href="{% url 'iva:a_empresa' %}">Agregar Empresa <span class="glyphicon glyphicon-plus"></span></a>
	                </div>

		
	</div>

</div>
{% endblock %}


