{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<div class="panel-body">

				<dl class="dl-horizontal">
					<dt>Empresa</dt>
					<dd>{{ instance.libro.empresa }}</dd>
					<dt>Libro</dt>
					{% if instance.libro.tipo_libro == 'C' %}
						<dd>Compras</dd>
					{% else %}
						<dd>Ventas</dd>
					{% endif %}
					<br>
					
				{% for field in objeto %}
					{% if field.data != None %}
					<dt>{{ field.label }}:</dt><dd>{{field.data}}</dd>
					{% endif %}
				{% endfor %}
				</dl>

			</div>
			<div class="panel-footer">
				<ul class="list-inline">
					<li>
						<a href="/../../m_detalle/{{ instance.id }}">
					Modificar<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</li>
					<li>
						<a href="../../d_detalle/{{ instance.id }}">
					Eliminar<span class="glyphicon glyphicon-remove"></span>
						</a>
					</li>
				</ul>
			
			</div>
		</div>
		<div align="left">
			<a class="btn btn-default btn-md" role="button" href="{% url 'iva:v_libro' id=instance.libro.id %}"><span class="glyphicon glyphicon-chevron-left"></span>  Volver</a>
        </div>
	</div>
</div>

{% endblock %}
