{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>{{ title }}</h1>
			<dl class="dl-horizontal">
			
					<dt>Empresa</dt>
					<dd>{{ instance.libro.empresa }}</dd>
					<dt>Libro</dt>
					{% if instance.libro.tipo_libro == 'C' %}
						<dd>Compras</dd>
					{% else %}
						<dd>Ventas</dd>
					{% endif %}
					<br>
					
				{% for field in objeto %}
					{% if field.data != None %}
					<dt>{{ field.label }}:</dt><dd>{{field.data}}</dd>
					{% endif %}
				{% endfor %}
				</dl>

			<div align="left">
				<ul class="list-inline">
					<li>
			<a class="btn btn-default btn-md" role="button" href="{% url 'iva:v_libro' id=instance.libro.id %}"><span class="glyphicon glyphicon-chevron-left"></span>  Volver</a>
					</li>
					<li>
						<a class="btn btn-default btn-md" role="button" href="{% url 'iva:m_detalle' id=instance.id %}">
					Modificar <span class="glyphicon glyphicon-pencil"></span>
						</a>
					</li>
					<li>
						<a class="btn btn-danger btn-md" role="button" href="{% url 'iva:d_detalle' id=instance.id %}">
					Eliminar <span class="glyphicon glyphicon-remove"></span>
						</a>
					</li>
					<li>
						<a class="btn btn-default btn-md" role="button" href="{% url 'iva:a_detalle' l=instance.libro.id %}">Cargar Otro  <span class="glyphicon glyphicon-plus"></span></a>
					</li>
				</ul>
			
			</div>
        </div>
	</div>


{% endblock %}
