{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<div class="panel-body">

				<dl class="dl-horizontal">
					<dt>empresa</dt>
					<dd>{{ instance.libro.empresa }}</dd>
					<dt>tipo_libro</dt>
					<dd>{{ instance.libro.tipo_libro }}</dd>
					<dt>fecha</dt>
					<dd>{{ instance.fecha }}</dd>
					<dt>tipo_comprobante</dt>
					<dd>{{ instance.tipo_comprobante }}</dd>
					<dt>nfactura</dt>
					<dd>{{ instance.nfactura }} </dd>
					<dt>cli_pro</dt>
					<dd>{{ instance.cli_pro }} </dd>
					<dt>alic</dt>
					<dd>{{ instance.alic }} </dd>
					<dt>importe</dt>
					<dd>{{ instance.importe }} </dd>
					<dt>ex_iva_insc</dt>
					<dd>{{ instance.ex_iva_insc }} </dd>
					<dt>ex_19640</dt>
					<dd>{{ instance.ex_19640 }} </dd>
					<dt>ret</dt>
					<dd>{{ instance.ret }} </dd>
				</dl>

			</div>
			<div class="panel-footer">
				<ul class="list-inline">
					<li>
						<a href="/../../m_detalle/{{ instance.id }}">
					Modificar<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</li>
					<li>
						<a href="../../d_detalle/{{ instance.id }}">
					Eliminar<span class="glyphicon glyphicon-remove"></span>
						</a>
					</li>
				</ul>
			
			</div>
		</div>
	</div>
</div>

{% endblock %}
