{% extends 'base.html' %}
{% block content %}

<div class="row">

	<div class="col-md-10 col-md-offset-1">
		<h1>{{instance.empresa.nombre}}</h1>
		<dl class="dl-horizontal">
			<dt>CUIT</dt>
			<dd>{{ instance.empresa.cuit }}</dd>
			<dt>Libro</dt>
			{% if instance.tipo_libro == 'C' %}
				<dd>Compras</dd>
			{% else %}
				<dd>Ventas</dd>
			{% endif %}
		</dl>
		<div align="left">
			<ul class="list-inline">					
			 <li>
				<a class="btn btn-default btn-md" role="button" href="{% url 'iva:home' %}"><span class="glyphicon glyphicon-chevron-left"></span>  Volver</a>
					</li>
					<li>
				<a class="btn btn-danger btn-md" role="button" href="{% url 'iva:d_libro' id=instance.id %}"><span class="glyphicon glyphicon-remove"></span>  Eliminar Libro</a>
					</li>
					<li>
						<a class="btn btn-default btn-md" role="button" href="{% url 'iva:m_empresa' id=instance.empresa.id %}"><span class="glyphicon glyphicon-pencil"></span>  Modificar Empresa</a></li>
						<li>
						<a class="btn btn-default btn-md" role="button" href="{% url 'iva:a_detalle' l=instance.id %}">Cargar Detalle  <span class="glyphicon glyphicon-plus"></span></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
	<h4>Detalle de Libro</h4>
<!-- div de busqueda -->
<div class="col-sm-12">
	<form class="form-horizontal" method="GET" action="">
		<!-- {% csrf_token %} -->
		<div class="form-group">
			<label class="control-label col-sm-3">Buscar por fecha:</label>
			<div class="col-sm-4">
				<input type="text" name="d" class="form-control" id="datepicker_d" placeholder="desde" required value="{{ request.GET.d}}">
			</div>
			<div class="col-sm-4">
				<input type="text" name="h" class="form-control" id="datepicker_h"required placeholder="hasta" value="{{ request.GET.h}}">
			</div>
			<div class="col-sm-1">
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</div>
		</div>
	</form>
</div>
<!-- f in dediv de busqueda -->

{% if list_detalle %}
			<table class="table table-hover table-condensed table-responsive" align="center">	
				<thead class="theadbg">
					<tr>
						<th>Fecha</th>
						<th>TC</th>
						<th>Letra</th>
						<th>Suc</th>
						<th>N°</th>
						<th>Cliente/Proveedor</th>
						<th>Importe</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for d in list_detalle %}
				<tr>
					<td>{{d.fecha}}</td>
					<td>{{d.tipo_comprobante}}</td>
					<td>{{d.letra}}</td>
					<td>{{d.sucursal}}</td>
					<td>{{d.nfactura}}</td>
					<td>{{d.cli_pro}}</td>
					{% for k, v in imp_x_det.items %}
						{% if k == d.id %}
						<td>${{ v }}.-</td>
						{% endif %}
					{% endfor %}
					<td><a href="{% url 'iva:m_detalle' id=d.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a href="{% url 'iva:d_detalle' id=d.id %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}">Anterior</a>
        {% endif %}

        <span class="current">
            Pág. {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q}}{% endif %}">Siguiente</a>
        {% endif %}
    </span>
</div>
			
		</div>

	</div>

{% endblock %}
{% block javascript %} 
<script type="text/javascript">
  $( function() {
    $( "#datepicker_d" ).datepicker();
    $( "#datepicker_h" ).datepicker();
  } );
</script>
{% endblock %}